#anket{
	font-size: 120%;
	color:#27408B;
}
.modal-title  {
	font-weight: bold;
	text-align: center;
}

h6{
	text-align: left;
}

img {
	width: 100%;
}

p
{
	font-size: 250%;
}
h2
{
	font-size: 300%;
}

a
{
	color: #FFFAFA;
}