#anket{
	font-size: 120%;
	color:#27408B;
}
.modal-title  {
	font-weight: bold;
	text-align: center;
	font-size: 130%;
}

.modal-body
{
	color:#9d9d9d;
}
#size
{
    background-image: url(../img/ph.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment:fixed;
}

.btn-lg{
	height: 85px;
	width: 160px;
}

section {
    height:100%;
    padding-top:50px;
    padding-bottom:50px;
    overflow:auto;
    color:#fff;
}
.empty{
	height: 300px;
}
blockquote{
	font-size: 85%;	
	text-align: left;
}

img {
	width: 100%;
}


.lead{
	font-size: 550%;
}

.dropdown-menu
{
 min-width: 132px;
}

a
{
	color: #FFFAFA;
	text-decoration: none;
}
a:visited
{
	color: #FFFAFA;
}

a:active
{
	color: #FFFAFA;
}

a:hover
{
	color: #FFFAFA;
	text-decoration: none;
}


.linked
{
	font-size: 18pt	;		
}